@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");
* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman";
  box-sizing: border-box;
}

button,
input {
  outline: transparent;
}

.container {
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}

#jumbotron {
  background-image: url("../images/background-jumbotron.jpg");
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#jumbotron nav label {
  margin-right: 20px;
  font-size: 26px;
  display: none;
  width: 26px;
}

#jumbotron nav #toggle {
  display: none;
}

#jumbotron nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding-top: 50px;
}

#jumbotron nav ul li {
  position: relative;
  padding: 10px 0;
}

#jumbotron nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: none;
  padding-top: 10px;
  transition: 0.5s;
}

#jumbotron nav ul li ul li {
  clear: both;
  width: 100%;
  border: 1px solid #16a085;
  margin: 3px 0;
}

#jumbotron nav ul li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-family: "Arvo";
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
}

#jumbotron nav ul li a:hover {
  color: #16a085;
}

#jumbotron ul li:hover > ul,
#jumbotron ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

#jumbotron .jumbotron-title {
  text-align: center;
  padding-top: 150px;
}

#jumbotron .jumbotron-title h1 {
  font-size: 42px;
  font-family: "Arvo";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#jumbotron .jumbotron-title p {
  font-size: 16px;
  font-family: "Arvo";
  color: white;
  padding-top: 10px;
}

#jumbotron .jumbotron-title button {
  margin-bottom: 200px;
}

#jumbotron .social-media {
  display: flex;
  justify-content: center;
}

#jumbotron .social-media button {
  background: none;
  border: none;
}

#jumbotron .social-media button .fab {
  color: white;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

#jumbotron .social-media button .fa-twitter:hover {
  color: #00aced;
}

#jumbotron .social-media button .fa-flickr:hover {
  color: #ff0084;
}

#jumbotron .social-media button .fa-dribbble:hover {
  color: #ea4c89;
}

.btn {
  border-radius: 3px;
  background-color: #16a085;
  width: 166px;
  height: 49px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Arvo";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
}

.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}

.hvr-curl-top-right:hover:before,
.hvr-curl-top-right:focus:before,
.hvr-curl-top-right:active:before {
  width: 25px;
  height: 25px;
}

#phone-section {
  background-color: #f5f6f7;
  height: 490px;
  overflow: hidden;
}

#phone-section .flex-phone {
  display: flex;
  padding-top: 90px;
}

#phone-section .flex-phone h2 {
  color: #16a085;
  font-family: "Arvo";
  text-transform: uppercase;
  font-size: 18px;
}

#phone-section .flex-phone p {
  padding-top: 30px;
  font-family: "Arvo";
  font-size: 12px;
  line-height: 2;
}

#iphone {
  background-color: white;
  padding-top: 145px;
  height: 500px;
  overflow: hidden;
}

#iphone .flex-iphone {
  display: flex;
  justify-content: space-between;
}

#iphone .flex-iphone h2 {
  color: #16a085;
  font-family: "Arvo";
  text-transform: uppercase;
  font-size: 18px;
}

#iphone .flex-iphone p {
  padding-top: 30px;
  font-family: "Arvo";
  font-size: 12px;
  line-height: 2;
}

#community {
  background-color: #f5f6f7;
  padding: 120px 0;
}

#community .flex-community {
  display: flex;
  justify-content: space-between;
}

#community .flex-community .community {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#community .flex-community .community h2 {
  font-family: "Arvo";
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 20px;
}

#community .flex-community .community p {
  font-family: "Arvo";
  font-size: 12px;
  line-height: 1;
}

#community .flex-community .community img {
  padding-bottom: 30px;
}

#community .flex-community .swiper-container {
  width: 600px;
  height: 300px;
}

#community .flex-community .swiper-slide {
  background-position: center;
  background-size: cover;
}

#email-section {
  background-image: url("../images/background-email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

#email-section .flex-email h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: white;
  font-family: "Arvo";
}

#email-section .flex-email form {
  display: flex;
  justify-content: center;
}

#email-section .flex-email form .form {
  display: flex;
  padding-top: 20px;
}

#email-section .flex-email form .form input {
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  color: black;
  padding-left: 10px;
  font-family: "Arvo";
  font-weight: bold;
  border: none;
}

#email-section .flex-email form .form button {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 50px;
  background-color: #16a085;
  border: none;
}

#email-section .flex-email form .form button:hover .fas {
  font-size: 22px;
}

#email-section .flex-email form .form button .fas {
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#download-section {
  background-color: #f5f6f7;
}

#download-section h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Arvo";
  padding-top: 90px;
}

#download-section p {
  text-align: center;
  font-family: "Arvo";
  font-size: 16px;
  line-height: 1;
  padding-top: 10px;
}

#download-section .buttons {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

#download-section .buttons button {
  background-color: #1abc9c;
  width: 240px;
  height: 56px;
  border: none;
  margin-right: 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  display: flex;
  align-items: center;
  padding-left: 30px;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 115px;
}

#download-section .buttons button:hover .fab {
  font-size: 34px;
}

#download-section .buttons .fab {
  font-size: 28px;
  padding: 12px 10px;
  background-color: #16a085;
  height: 56px;
  width: 60px;
  transition: 0.3s;
}

footer .flex-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

footer .flex-footer ul {
  display: flex;
  list-style-type: none;
}

footer .flex-footer ul li {
  border-right: 2px solid #16a085;
  padding: 0 5px;
}

footer .flex-footer ul li:last-child {
  border: none;
}

footer .flex-footer ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-family: "Arvo";
}

footer .flex-footer ul li a:hover {
  color: #16a085;
}

footer .flex-footer p {
  font-family: "Arvo";
  font-size: 16px;
  padding-left: 5px;
  padding-top: 30px;
}

@media (max-width: 1199px) {
  #jumbotron ul {
    justify-content: space-around;
  }
  #phone-section .flex-phone {
    padding-left: 20px;
    padding-right: 20px;
  }
  #iphone .flex-iphone {
    padding-left: 20px;
    padding-right: 20px;
  }
  #community .flex-community .community {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  #jumbotron header nav {
    padding-top: 30px;
  }
  #jumbotron header nav label {
    display: inline-block;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    float: right;
  }
  #jumbotron header nav ul {
    text-align: center;
    width: 100%;
    display: none;
  }
  #jumbotron header nav ul li ul li {
    background-color: #16a085;
  }
  #jumbotron header nav ul li ul li a:hover {
    color: white;
    transform: scale(1.2);
  }
  #jumbotron header nav ul a {
    display: block;
  }
  #jumbotron header nav #toggle:checked + ul {
    display: block;
  }
  #phone-section {
    height: 420px;
  }
  #phone-section .flex-phone .title-section-phone {
    text-align: center;
  }
  #phone-section .flex-phone img {
    display: none;
  }
  #iphone {
    padding-top: 90px;
    height: 420px;
  }
  #iphone .flex-iphone {
    justify-content: center;
  }
  #iphone .flex-iphone .title-section-phone {
    text-align: center;
  }
  #iphone .flex-iphone img {
    display: none;
  }
  #community {
    padding-top: 80px;
  }
  #community .flex-community {
    flex-direction: column;
  }
  #community .flex-community .community {
    margin-bottom: 50px;
  }
  #download-section .flex-download {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */